{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Activity Tracker</title>
    <link rel="stylesheet" href="{% static 'app/style.css' %}">
</head>
<body>
   <main>
    <header>
        <nav>
          <div>
              <ul>
                  <li><a href="{% url 'index' %}">Activity Tracker</a></li>
                  <li><a href="{% url 'new_activity' %}">Add Activity</a></li>
              </ul>
        </nav>
      </header>
    <section>

        {% if data.activity %}
            <div >
                <h2 id="title">{{ data.activity.name }} Details:</h2>
            </div>

            <div>
                {% if data.timelogs %}
                    <h2 id="title">Time Logs:</h2>
                    {% comment %} <ul>
                        {% for timelog in data.timelogs %}
                            <li>{{ timelog.start_time }} to {{ timelog.end_time }}</li>
                        {% endfor %}
                    </ul> {% endcomment %}
                    <table>
                        <tr>
                            <th>Start Time</th>
                            <th>End Time</th>
                        </tr>
                        {% for timelog in data.timelogs %}
                            <tr>
                                <td>{{ timelog.start_time }}</td>
                                <td>{{ timelog.end_time }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                {% else %}
                    <p>No time logs found for this activity.</p>
                {% endif %}
            </div>
            <div >
                <table >
                    <tbody>
                      <tr>
                        <td>Total Time Spend: {{ data.activity.time_spent }}</td>
                      </tr>
                    </tbody>
                </table>
            </div>
       
        {% else %}
            <p>Eror: No activity found.</p>
        {% endif %}
             <div class="flex-contaier" >
                <a href="{% url 'new_timelog' id=data.activity.id %}" class="btn">Add New TimeLog</a>
            </div>
    </section>
   </main>
</body>
</html>
