{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acticity Tracker</title>
    <link rel="stylesheet" href="{% static 'app/style.css' %}">

</head>
<body>
    <header>
        <h1>Activity Tracker</h1>
    </header>
    <main>
        <section>
            {% comment %} TODO: display all activiteis {% endcomment %}
            {% if activities%}
            {% for activity in activities %}
                <div class="activity">
                    <h2><a href="{% url 'activity' id=activity.id %}">{{ activity.name }}</a></h2>
                </div>
            {% endfor %}
            {%else%}
            <p>No activities found</p>
            {%endif%}
        </section>
    </main>
</body>
</html>