{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acticity Tracker</title>
    <link rel="stylesheet" href="{% static 'app/style.css' %}">

</head>
<body>
    <header>
      <nav>
        <div>
            <ul>
                <li><a href="{% url 'index' %}">Activity Tracker</a></li>
                <li><a href="{% url 'new_activity' %}">Add Activity</a></li>
            </ul>
      </nav>
    </header>
        <section>
            {% if activities%}
                <ul class="flex-contaier" >
                {% for activity in activities %}
                <div class="sparkle u-hover--sparkle">

                <li class="flex-item">
                    {% comment %} <a href="{% url 'activity' id=activity.id %}">{{ activity.name }}</a> {% endcomment %}
                   <a  href="{% url 'activity' id=activity.id %}"><b>{{activity.name}}</b></a>
                    <p id="time">{{activity.time_spent}}</p>
                </li>
            </div>

                {% endfor %} 
            </ul> 
            {%else%}
                <p>No activities found</p>
            {%endif%} 
        </section>
</body>
</html>
