{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acticity Tracker</title>
    <link rel="stylesheet" href="{% static 'app/style.css' %}">

</head>
<body>
    <header>
      <nav>
        <div>
            <ul>
                <li><a href="{% url 'index' %}">Activity Tracker</a></li>
                <li><a href="{% url 'new_activity' %}">Add Activity</a></li>
            </ul>
      </nav>
    </header>
        <main >

            <section class="flex-contaier" >
                {% if activities%}
                {% for activity in activities %}
                <div class="flex-card">
                    <a href="{% url 'activity' id=activity.id %}"><h2><b>{{ activity.name }}</b></h2></a>
                    <p>{{activity.time_spent}}</p>
                </div>
                {% endfor %}  
                {%else%}
                <p>No activities found</p>
                {%endif%} 
            </section>
        </main>
</body>
</html>
