*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    /* flex-direction: row; */
    box-sizing: border-box;


}
/* ========== Navbar ========= */
/* header{
    margin-bottom: 20px;
    padding: 20px;
    color: black;
    background-color: wheat;
} */

header ul{
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: wheat;

}

header ul li {
    float: left;
}

li a{
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover{
    background-color: tomato;
}

/* ====== Body ===== */

.flex-contaier{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly ;
    border: 10px solid red;
    padding: 0;
    margin: 0;
    list-style: none;
}

.flex-card{
    background: tomato;
    padding: 5px;
    width: 200px;
    height: 150px;
    margin-top: 10px;
    line-height: 150px;
    color: white;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
}
